<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>com.example.eventflowfrontend.controller.EventController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/display_workshop</url-pattern>
        <url-pattern>/display_interview</url-pattern>
        <url-pattern>/updateEvent</url-pattern>
        <url-pattern>/addWorkshop</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.example.eventflowfrontend.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/displayStudent</url-pattern>
        <url-pattern>/displayLecturer</url-pattern>
        <url-pattern>/displayAdmin</url-pattern>
        <url-pattern>/updateUser</url-pattern>
        <url-pattern>/addUser</url-pattern>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>

        <welcome-file-list>
            <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>


</web-app>